@use "./variables" as*;

@keyframes sombraDinamica {
    0% {
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.1)) 
                drop-shadow(0 0 8px rgba(0, 0, 0, 0.6));
      }
      25% {
        filter: drop-shadow(2px 2px 6px rgba(255, 255, 255, 0.15)) 
                drop-shadow(-2px -2px 6px rgba(0, 0, 0, 0.7));
      }
      50% {
        filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.2)) 
                drop-shadow(0 0 20px rgba(0, 0, 0, 0.8));
      }
      75% {
        filter: drop-shadow(-2px 2px 6px rgba(255, 255, 255, 0.15)) 
                drop-shadow(2px -2px 6px rgba(0, 0, 0, 0.7));
      }
      100% {
        filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.1)) 
                drop-shadow(0 0 8px rgba(0, 0, 0, 0.6));
    }
  }


header{
    nav {
        width: 100%;
        background-color: $grisfuerte;
        padding: 20px 40px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        position: sticky;
        .menu {
            ul {
                list-style: none;
                margin: 0;
                @include flex(row, center, normal);
                gap: 40px;
                li {
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 600;
                        letter-spacing: 1px;
                        padding: 5px;
                        border-radius: 8px;
                        &:hover {
                            color: rgb(255, 242, 0);
                          }
                    }
                }

                .iconomenu{
                    a {
                        position: absolute; left: 60px; top: 15px;
                        gap: 0.4rem;
                        font-family: $font;
                        i {
                            position: absolute; left:-35px; top: -10px;
                            font-size: 2rem;
                        }
                    }  
                }
            }
        }

        .menu2{
            display: none;
        }
    }

    .head {
        text-align: center;
        padding-top: 30px;
        .logo{
            img {
                width: 400px;
                height: auto;
                animation: sombraDinamica 3s ease-in-out infinite;
            }
        }
    }
    
}



footer{
    background-color: $grisfuerte;
    color: #bbb;
    text-align: center;
    padding: 20px 20px;
    border-top: 1px solid #333;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    p {
        margin: 0;
    }
}


//...................................................................tablet y celular promedio.......................................................

@media (max-width: 950px) and (min-width: 751px) {
  
    header {
        nav {
            .inicio{
                display: none !important;
            }     
        }
    }
  
}

//...................................................................tablet y celular promedio.......................................................

@media (max-width: 750px) {
  
    header {
      @include flex(column, normal, center);
  
        nav {
            width: 100%;
            background-color: $grisfuerte;
            padding:0;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    
            .menu {
            display: none;
            }
    
            .menu2 {
                display: block;
                position: relative;
                margin-top: 5px;
                margin-left: -10px;
            
                .navbar-toggler {
                display: block;
                font-size: 1.8rem;
                position: relative;
                top: 0;
                left: 0;
                z-index: 1000;
                padding: 10px;
                background: none;
                border: none;
                }
            
                .navbar-toggler-icon {
                filter: invert(1);
                }
            
                .collapse {
                background-color: $grisfuerte;
                padding-left: 10px;
                padding-bottom: 10px;
                border-radius: 10px;
                }
            
                ul {
                    padding-left: 0;
                    list-style: none;
                
                    .nav-item {
                        .nav-link {
                          color: white;
                          font-weight: bold;
                  
                          &:hover {
                              color: #ccc;
                          }
                        }
                    }
                }
            }
        }
  
        .head {
            text-align: center;
    
            .logo img {
            width: 300px;
            height: auto;
            }
        }
    }

    footer {
        font-size: 14px;
        padding: 15px;
        text-align: center;
    }
}






 